[Desktop Entry]
Exec=quail %U
Name=Quail
GenericName=Unofficial esa app
Icon=/usr/share/quail/resources/app/static/Icon.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Editor
